:root {
  font-family: Arial, Helvetica, sans-serif;
  --main-font-size: 18px;
  --titles-font-size: 1.8rem;
  --secondary-color: #333;
  font-size: var(--main-font-size);
}

body {
  text-align: center;
  line-height: 1.5;
  background: var(--secondary-color);
}

.header {
  position: relative;
  color: white;
}

.header::before {
  content: '';
  position: absolute;
  background: var(--secondary-color);
  background: url(../img/header.png) center no-repeat;
  background-size: cover;
  inset: 0;
  opacity: 0.5;
  z-index: -1;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  padding-top: 100px;
  font-size: 2.3rem;
  font-weight: bold;
}

.heading-text {
  font-size: 1.3rem;
  padding-top: 20px;
}

.link-top {
  margin-top: 22px;
  margin-bottom: 140px;
  padding: 17px 34px;
  border: 1px solid white;
  background: var(--secondary-color);
}

.link-top:hover {
  background-color: #eaeaea;
  color: var(--secondary-color);
}

.white-block {
  background: #eaeaea; 
}

.white-block-heading {
  color: var(--secondary-color);
  padding: 25px 0px;
  font-size: var(--titles-font-size);
  font-weight: bold;
}

.top-white-text {
  columns: 2;
  padding: 0 480px 50px 480px;
  color: var(--secondary-color);
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card { 
  display: block;
  max-width: 280px;
  margin: 35px 10px;
  background: white;
}

.card-img {
  max-width: 100%;
}

.card-title {
  padding: 40px 20px;;
  font-weight: bold;
  font-size: 1.1rem;
}

.card-text {
  padding: 0px 30px 40px 30px;
}

.bottom-white-block {
  padding-top: 40px;
  background: white;
}

.bottom-white-text {
  display: block;
  margin: 0 auto;
  max-width: 47vw;
  padding-bottom: 50px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blue-block,
.grey-block {
  width: 50%;
  color: white;
  padding-bottom: 50px;
}

.blue-block {
  background-color: #2690d4;
}

.grey-block {
  background: var(--secondary-color);
}

.blue-block-title {
  margin: 40px;
  font-size: var(--titles-font-size);
  font-weight: bold;
}

.blue-block-text {
  padding: 0px 15px 30px 0px;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-title {
  padding: 30px 0px;
}

.footer-link {
  padding-left: 2px;
  color: #2690d4;
}
