:root {
  --main-font-size: 18px;
}

body {
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #333;
  font-size: var(--main-font-size);
}

.header {
  color: white;
}

.heading-container {
  min-height: 47vh;
  background: url(../img/header.png) center no-repeat;
  background-size: cover;

}

.main-heading {
  padding-top: 10vh;
  font-size: 36px;
  font-weight: bold;
}

.heading-text,
.link-top {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.heading-text {
  max-width: 45vw;
}

.link-top {
  padding: 15px 30px;
  max-width: 100px;
  border: 1px solid white;
  background: #333;
}

.link-top:hover {
  background-color: #eaeaea;
  color: #333;
}

.white-block {
  background: #eaeaea; 
}

.white-block-heading {
  padding: 25px 0px;
  font-size: 26px;
  font-weight: bold;
}

.white-block-text {
  padding-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card { 
  display: block;
  max-width: 280px;
  margin: 35px 10px;
  background: white;
}

.card-img {
  max-width: 100%;
}

.card-title {
  padding: 40px 20px;;
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  padding: 0px 30px 40px 30px;
}

.bottom-white-block {
  padding-top: 40px;
  background: white;
}

.bottom-white-text {
  display: block;
  margin: 0 auto;
  max-width: 47vw;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 30vh;
}

.blue-block,
.grey-block {
  width: 50%;
  color: white;
}

.blue-block {
  background-color: #2690d4;
}

.grey-block {
  background: #333;
}

.blue-block-title {
  margin: 40px;
  font-size: 26px;
  font-weight: bold;
}

.blue-block-text {
  padding: 0px 15px 30px 0px;
}

.link-bottom {
}

.footer {
  display: flex;
  background-color: black;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-title {
  padding: 30px 0px;
}

.footer-link {
  padding-left: 2px;
  color: #2690d4;
}
